body{
	font-family: Verdana,Geneva,sans-serif;
	margin:0;
	padding:0;
}
#header,#footer{
	background: #eee;
	padding: 10px;
	height: 30px;
	margin: 0 0 20px;
	clear:both;
}
#left_sidebar,#right_sidebar{
	float:left;
	margin: 10px 5px 10px 20px;
	padding: 5px;
	width:200px;
	background: #eee;
	border-radius: 5px;
}
#content{
	float:left;
	margin: 5px 15px;
	width: 400px;
	height: 500px;
}
