body{
	background: url('../img/pats/vichy.png');
	background: url('../img/pats/green_dust_scratch.png');
	background: url('../img/pats/washi.png');
	background: url('../img/pats/wood_1.png');
	background: url('../img/pats/white_brick_wall.png');
	background: url('../img/pats/cardboard.png');
	background: url('../img/pats/exclusive_paper.png');
	background: url('../img/pats/rocky_wall.png');
	background: url('../img/pats/grunge_wall.png');
	background: url('../img/pats/smooth_wall.png');
	background: url('../img/pats/stucco.png');
	background: url('../img/pats/concrete_wall_3.png');
	background: url('../img/pats/concrete_wall_2.png');
}
