body{
	font-family: Purisa,sans-serif;
	font-family: Helvetica,sans-serif;
	margin:0;
	padding:0;
	color: white;
	color: #000;
	font-weight:600;
	background: url('imgs/grunge_wall.png');
	background: url('imgs/bright_squares.png');
	background: url('imgs/beige_paper.png');
	background: url('imgs/whitey.png');
	background: url('imgs/white_carbon.png');
	background: url('imgs/cubes.png');
	background: url('imgs/white_brick_wall.png');
}

#wrapper{
	height: 650px;
	padding: 30px;
}
#header,#footer{
	background: #eee; 
	background: #afdfff; 
	padding: 10px;
	height: 40px;
	clear:both;
	box-shadow: 1px 1px 2px #eee;
	opacity: 0.8;
}
#header a, #footer a { color: #F0Ffff; color: #000; }
#header{
	font-size: 2em;
}
#left_sidebar,#right_sidebar{
	float:left;
	padding: 10px;
	width: 200px;
	background: #eee; 
	background: #afdfff; 
	border-radius: 5px;
	box-shadow: 1px 1px 1px #eee;
	opacity: 0.8;
	border: 1px dashed #888;
}
#content{
	float:left;
	width: 400px;
	height: 600px;
	margin: 0px 50px;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #eee;
	background: #eee; 
	background: #afdfff; 
	opacity: 0.8;
	overflow:auto;
}
